ul li.thumb img{
    max-width: 150px;
    max-height: 150px;
}
ul li.thumb figure {
    width: 150px;
    height: 150px;
    padding: 0px 0px 10px 0px;
    margin: 0;
}
ul li.thumb {
    text-align: center;
    list-style: none;
    float: left;
    width: 150px;
    min-height: 190px;
    height: 190px;
    margin: 10px;
    padding: 6px 8px;
    border: 1px solid #ccc;
}

figure.photo {
  margin: 0;
}
